<!DOCTYPE html>
<html>
<head>
    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <include file="Public:breadcrumb"/>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-8">


                    <!-- /.box-header -->
                    <div class="box-body well">


                        <form role="form" action="{:U('changePass')}" method="post">


                            <div class="form-group">
                                <label class="control-label">原密码</label>

                                <div class="controls">
                                    <input type="password" placeholder="" class="form-control large"
                                           name="opassword"
                                           id="opassword"/>
                                    <span class="help-inline"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label">新密码</label>

                                <div class="controls">
                                    <input type="password" placeholder="" class="form-control large" name="password"
                                           id="password"/>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">确认新密码</label>

                                <div class="controls">
                                    <input type="password" placeholder="" class="form-control large"
                                           name="rpassword"
                                           id="rpassword"/>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-actions">

                                <button type="submit" class="btn btn-primary">修改</button>


                            </div>
                        </form>


                    </div>
                    <!-- /.box-body -->


                </div>

            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>