<!DOCTYPE html>
<head>
    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <include file="Public:breadcrumb"/>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-12">
                        <div class="box-header">
                            <h3 class="box-title">用户系统信息</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">


                            <div class="row ">


                                <div class="col-md-3">

                                    <img style="width: 100%" src="__PUBLIC__/baracktocat.jpg" alt=""/>
                                </div>


                                <div class="col-md-6  ">

                                    <h1>{$admin.user_name}</h1>



                                    <p>昵称: {$admin.nick_name} </p>

                                    <p>邮箱: {$admin.email} </p>

                                    <p>注册时间: {$admin['ctime'] | date="Y-m-d H:i:s",###} </p>

                                    <!--end span8-->


                                </div>

                            </div>

                            <div class="row ">

                                <br/>

                            </div>


                            <div class="row">

                                <control access="Admin/Access/index">

                                    <div class=" col-xs-3">
                                        <!-- small box -->
                                        <div class="small-box bg-yellow">
                                            <div class="inner">
                                                <h3>
                                                    {$UserCount}名
                                                </h3>

                                                <p>
                                                    注册用户
                                                </p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-person-add"></i>
                                            </div>
                                            <a href="{:U('Admin/Access/index')}" class="small-box-footer">
                                                用户管理 <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- ./col -->

                                </control>

                            </div>


                        </div>
                </div>

            </div>

        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>