<header class="header">
    <a href="{:U('Home/index/index')}" class="logo" id="logo" style="font-size: 25px" target="_blank">网站首页</a>
    <nav class="navbar navbar-static-top" role="navigation">


        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>


        <ul class="nav navbar-nav">

        </ul>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span> {$admin.nick_name} <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="__PUBLIC__/baracktocat.jpg" class="img-circle" alt="User Image"/>

                            <p>
                                {$admin.nick_name} -
                                <small>注册时间: {$admin.ctime | date}</small>
                            </p>
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{:U('Admin/Member/profile',array('uid'=>$admin['id']))}"
                                   class="btn btn-default btn-flat">用户档案</a>
                            </div>
                            <div class="pull-right">
                                <a href="{:U('Admin/Login/logout')}" class="btn btn-default btn-flat">安全退出</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

